.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  --color-background: rgb(55, 16, 55);
  --color-foreground: white;
  
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.App > * {
  margin: 0px auto;
}

.Navbar {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.Content {
  flex-grow: 1;
}

.Links {
  background-color: var(--color-background);
  color: var(--color-foreground);

  font-size: large;
  font-weight: 600;
}