/* Overrides */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Typography */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}